root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space

[*.cs]
indent_size = 4
csharp_style_namespace_declarations = file_scoped:error
dotnet_style_require_accessibility_modifiers = always:error
csharp_style_var_for_built_in_types = true:suggestion
dotnet_diagnostic.IDE0005.severity = suggestion

[*.{ts,tsx,js,json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
